/* #Region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dc-ligher: #ffffff;
    --dc-darker: #1c1c1c;
    --dc-blue: #0282f9;
    --dc-dgray: #303030;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}
.container {
    width: 70%;
    max-width: 1176px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    width: auto;
    flex-basis: auto;
    padding: 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}
/* #EndRegion Common */

/* #Region Header*/
header {
    background-color: var(--dc-ligher);

    nav {
        display: flex;
        gap: 0.25rem;
        justify-content: center;

        & a {
            padding: 0.5rem;
            text-decoration: none;
            color: var(--dc-dgray);
            font-weight: 600;
        }
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.jumbotron {
    background-image: url(../images/jumbotron.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}
/* #endRegion Header*/

/* #Region Main*/
main {
    min-height: 60vh;
    background-color: var(--dc-darker);
}
/* #EndRegion Main*/

/*#Region Footer*/

footer {
    ul {
        list-style: none;

        & a {
            text-decoration: none;
        }
    }
}

.top_footer {
    background-image: url(../images/footer-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.bottom_foooter {
    background-color: var(--dc-dgray);
    display: flex;
    justify-content: space-between;
}
/*#EndRegion Footer*/
